th{
  background-color: #BBC3CC;
}

th,td{
  text-align: center;
  font-size: 125%;
}

.top-buffer{
  margin-top: 35px;
}

.top-buffer-xl{
 margin-top: 65px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.intro-writing{
  font-size: 20px;
}

.head-writing{
  font-size: 40px;
}

.banner{
	width: 100%;
	display: block;

}

.banner > .banner-image{
	width: 100%;
	display: block;
}

.my-citation{
  float: right;
  padding-right: 30px;
}

.table-wrapper-2 {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
